<div class="home-wrapper">
  <div class="left-section">

    <div class="form-inline">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form",
          placeholder: "function"
        %>
        <%= submit_tag "Calculate", name: nil, class: "button" %>
      <% end %>
    </div>

    <br>

    <div class="solution-section">
      <% unless @function.nil? %>
        <% if @function =~ /[a-zA-Z]/  %>
          <p>Solution</p>
          <% index = @function =~ /[a-zA-Z]/ %>
          <p><strong><%= @function_arr[index] %></strong> is not defined!</p>
        <% else %>
          <p>Solution</p>
          <p><i> <%= params[:query] %> =</i><strong> <%= @solution %></strong></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="right-section">
    <div class="function-section">
      <h4>Functions Library</h4>
      <% if !user_signed_in? %>
        <p><i>(*) please sign in to create your own functions!</i></p>
      <% end %>
      <ul class="list-unstyled">
      <% @functions.each do |function| %>
        <li class="library-row"><%= function.name %> = <%= function.content %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
