
  <div class="left-section">

    <div class="form-inline">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form",
          placeholder: "function"
        %>
        <%= submit_tag "Calculate", name: nil, class: "button" %>
      <% end %>
    </div>

    <br>

    <div class="solution-section">
      <% unless @solution.nil? %>
        <% if @function_str =~ /[a-zA-Z]/ %>
          <% @function_str.scan(/[a-zA-Z]{1,2}\d{0,5}/).each do |function| %>
            <p><%= function %> is not defined!</p>
          <% end %>
        <% else %>
          <p>Solution</p>
          <p><i> <%= params[:query] %> =</i><strong> <%= @solution %></strong></p>
        <% end %>
      <% end %>
    </div>
  </div>


  <div class="right-section">
    <div class="function-section">
      <h4>Functions Library</h4>
      <% if !user_signed_in? %>
        <p><i>(*) please sign in to create your own functions!</i></p>
      <% end %>
      <ul class="list-unstyled">
      <% @print_functions.each do |function| %>
        <li class="library-row"><%= function.split("=")[0] %> = <%= function.split("=")[1] %></li>
      <% end %>
      </ul>
    </div>
  </div>
