<div class="container">
  <div class="table-wrapper">
    <div class="table-header">
      <h4>My functions</h4>
      <%= link_to "Add a new function", new_admin_function_path, class: "button" %>
    </div>
    <div class="table-body">
      <table class="table">
        <tbody>
          <% @print_functions.each do |function| %>
          <% function_name = function.split("=")[0] %>
          <% function_value = function.split("=")[1] %>
            <tr>
              <td class="table-function-name">
                <%= function_name %> = <%= function_value %>
              </td>
              <td class="table-function">
                <%= link_to edit_admin_function_path(Function.find_by(name: function_name.strip).id) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
              </td>
              <td class="table-function">
                <%= link_to admin_function_path(Function.find_by(name: function_name.strip).id), method: :delete, data: {confirm: 'Are you sure? All functions related will be deleted!!'} do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

